streamlit
python-docx
PyPDF2
supabase
google-generativeai>=0.7.0
SpeechRecognition
pydub
pandas
Pillow
librosa
soundfile
watchdog
streamlit-option-menu

# --- LIBRERÍAS DE DISEÑO PREMIUM (AGREGADAS) ---
streamlit-antd-components
streamlit-shadcn-ui
streamlit-extras
